spring:
  datasource:
    url: jdbc:mysql://localhost:3306/bibixi-db?useSSL=false&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  flyway:
    enabled: true

  jpa:
    hibernate:
      ddl-auto: update   # for quick dev (later switch to validate/Flyway)
    show-sql: true
    properties:
      hibernate:
        ddl-auto: validate
        dialect: org.hibernate.dialect.MySQL8Dialect
