spring:
  application:
    name: backend
  datasource:
    url: jdbc:mysql://localhost:3306/bibixi-db?useSSL=false&serverTimezone=UTC
    username: root
    password: root
  flyway:
    enabled: true
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        ddl-auto: update

app:
  jwt:
    secret: QWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXowMTIzNDU2Nzg5MDEyMzQ1Ng==
    expiration-ms: 86400000
  cors:
    allowed-origins: http://localhost:8080
